<h1>{{product.title}}</h1>

<p><strong>Descripción:</strong> {{product.description}}</p>
<p><strong>Precio:</strong> ${{product.price}}</p>
<p><strong>Categoría:</strong> {{product.category}}</p>
<p><strong>Código:</strong> {{product.code}}</p>
<p><strong>Stock:</strong> {{product.stock}}</p>
<p><strong>Status:</strong> {{product.status}}</p>

<a href="/">⬅ Volver al listado</a>
